<div class="container">

    <p>Weighing id: {{weighing.id}}</p>
    <p>Registro de pesagem válido: {{weighing.weighing_valid}}</p>

    <button (click)="backToList()">Voltar</button>

    <table class="striped">
        <thead>
            <tr>
                <td> Placa </td>
                <td> Nome Externo </td>
                <td> Faixa </td>
                <td> Pista </td>                
                <td> Velocidade </td>   
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{weighing.placa}}</td>
                <td>{{weighing.nomeExterno}}</td>
                <td>{{weighing.faixa}}</td>
                <td>{{weighing.lane}}</td>
                <td>{{weighing.speed}}</td>                
            </tr>
        </tbody>
    </table>
</div>