<div class="container">
    <table class="centered">
        <thead>
            <tr>
                <td> Placa </td>
                <td> Nome Externo </td>
                <td></td>
            </tr>
        </thead>
        <tbody *ngFor="let weighing of weighingList">
            <tr>
                <td>{{weighing.placa}}</td>
                <td>{{weighing.nomeExterno}}</td>
                <td><a (click)=weighingDetail(weighing.id)>detalhes</a></td>
            </tr>
        </tbody>
    </table>
</div>